*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--color-1);
  background-color: var(--color-4);
  position: relative;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
}

body,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-family: Inter;
  font-size: 4rem;
  font-weight: 900;
  line-height: 80px;
  text-align: center;
}

h2 {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* MARK: Variables */
:root {
  --accent-color: #df8f33;
  --color-1: #243424;
  --color-2: #000000;
  --color-3: #ffffff;
  --color-4: #f7f7f7;
  --color-5: #a7bd92;
  --color-6: #ebebeb;
  --color-7: #c4f196;
  --box-shadow: 0px 4px 4px 0px #00000014;
}

/* MARK: Header */

.main-nav {
  background-color: var(--color-4);
  height: 55px;
  border-bottom: 1px solid var(--color-6);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.main-nav h2 {
  color: var(--color-1);
}

.main-nav span:first-of-type {
  font-weight: 900;
  color: var(--color-1);
}

/* MARK: Main */

.btn {
  color: var(--color-2);
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 50px;
  border: 3px solid var(--color-2);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn:hover {
  background-color: var(--color-2);
  color: var(--color-3);
}

.hero-ctn,
.services,
.footer .social {
  background-image: url("../images/hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hero-ctn .hero-content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
}

/* MARK: Main About */

.about {
  background-color: var(--color-3);
  border-radius: 30px;
  margin: 30px;
  padding: 50px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
  box-shadow: var(--box-shadow);
}

.about h2 {
  font-weight: 600;
}

.about p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 40px;
}

.about p:first-of-type {
  margin-bottom: 30px;
}

.about img {
  width: 100%;
  border-radius: 30px;
}

/* MARK: Main CV */

.cv a {
  height: 200px;
  border-radius: 50px;
  background-color: var(--color-7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 50px;
  margin: 30px;
}
.cv p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 48px;
  color: var(--color-2);
}
.cv img {
  width: 10rem;
}

/* MARK: Main Services */

.services {
  padding: 40px;
}

.services h2 {
  font-weight: 600;
  text-transform: uppercase;
}

.services details {
  margin-top: 40px;
  border: 5px solid var(--color-2);
  background: transparent;
  transition: max-height 400ms ease-out;

  max-height: 8rem;
  overflow: hidden;
}

.services summary {
  display: block;
}

.services input {
  display: none;
}

.services label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  background: transparent;

  height: 7rem;
}

.services label:hover {
  cursor: pointer;
  user-select: none;
}

.services label::after {
  content: "âµ";
  font-size: 2.5rem;
  margin: 0 1rem 0 auto;
  transition: rotate 200ms 400ms ease-out;
}

.services div.content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services div.content p {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 48px;
}

.services span.hl {
  color: var(--accent-color);
  font-weight: 800;
}

.services input:checked + details {
  max-height: 800px; /* Set a max-height value enough to show all the content */
}

.services input:checked + details label::after,
.services details:has(input:checked) label::after {
  rotate: 90deg;
  transition: rotate 200ms ease-out;
}

/* MARK: Main experience */

.experience {
  padding: 40px;
}

.experience h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.experience .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.experience .grid a {
  background-color: var(--color-3);
  color: var(--color-3);
  min-height: 240px;
  margin: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  transition: background-color 0.2s ease;
  overflow: hidden;
  position: relative;
}

.experience .grid a:hover {
  background-color: var(--color-7);
}

.experience .grid a img {
  width: 8rem;
  transition: transform 0.3s ease;
  transform: translateY(0);

  /* MARK: Drop-shadow for Icons  */
  filter: drop-shadow(3px 5px 10px rgba(0, 0, 0, 0.544));
}

.experience .grid a:nth-child(-n + 4) img {
  width: 10rem;
}

.experience .grid a:hover img {
  transform: translateY(-20px);
}

.experience .grid a span {
  color: var(--color-1);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  bottom: 20px;
}

.experience .grid a:hover span {
  opacity: 1;
  transform: translateY(0);
}

/* MARK: Main contact */

.contact {
  padding: 40px;
}

.contact h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.contact .login-form-wrapper {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .login-form-wrapper form {
  --background: white;
  --default-color: #0d6efd;
  --contrast-color: #0a1d2e;
  --border: rgba(0, 0, 0, 0.125);
  --borderDark: rgba(0, 0, 0, 0.25);
  --borderDarker: rgba(0, 0, 0, 0.5);
  --borderRadius: 0.125rem;
  position: relative;
  overflow: hidden;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contact .login-form-wrapper form .email,
.contact .login-form-wrapper form .email a {
  color: var(--default-color);
  font-size: 0.825rem;
  order: 4;
  text-align: center;
  margin-top: 0.25rem;
  outline: 1px dashed transparent;
  outline-offset: 2px;
  display: inline;
}

.contact .login-form-wrapper form a:hover {
  color: var(--contrast-color);
  transition: color 0.25s;
}

.contact .login-form-wrapper form a:focus {
  color: var(--accent);
  outline: 1px dashed var(--accent);
  outline-offset: 2px;
}

.contact .login-form-wrapper form > div {
  order: 2;
}

.contact label {
  display: flex;
  flex-direction: column;
}

.contact .label-show-password {
  order: 3;
}

.contact label > span {
  color: var(--borderDarker);
  display: block;
  font-size: 0.825rem;
  margin-top: 0.625rem;
  order: 1;
  transition: all 0.25s;
}

.contact label > span.required::after {
  content: "*";
  color: #dd6666;
  margin-left: 0.125rem;
}

.contact label input {
  order: 2;
  outline: none;
}

.contact label input::placeholder {
  color: var(--borderDark);
}

/* trick from https://css-tricks.com/snippets/css/password-input-bullet-alternatives/ */

.contact label input[name="password"] {
  -webkit-text-security: disc;
}

.contact
  input[name="show-password"]:checked
  ~ div
  label
  input[name="password"] {
  -webkit-text-security: none;
}

.contact label:hover span {
  color: var(--default-color);
}

.contact input[type="checkbox"] + .contact div label:hover span::before,
.contact label:hover input.text {
  border-color: var(--default-color);
}

.contact label input.text:focus,
.contact label input.text:active {
  border-color: var(--default-color);
}

.contact input.text:focus + .contact span,
.contact input.text:active + .contact span {
  color: var(--default-color);
}

.contact input {
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.25rem;
  margin-top: 0.25rem;
  order: 2;
  padding: 0.25rem 0.5rem;
  width: 15rem;
  transition: all 0.25s;
}

.contact input[type="submit"] {
  color: var(--text-color);
  background: var(--default-color);
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.625rem;
  order: 4;
  outline: 1px dashed transparent;
  outline-offset: 2px;
  padding-left: 0;
  text-transform: uppercase;
}

.contact input[type="checkbox"]:focus + .contact label span::before,
.contact input[type="submit"]:focus {
  outline: 1px dashed var(--contrast-color);
  outline-offset: 2px;
}

.contact input[type="submit"]:focus {
  background: var(--contrast-color);
}

.contact input[type="submit"]:hover {
  background: var(--contrast-color);
  cursor: pointer;
}

.contact input[type="submit"]:active {
  background: var(--contrast-color);
  transition: all 0.125s;
}

/** Checkbox styling */

.contact .make-hidden {
  position: absolute;
  top: -1000em;
  left: -1000em;
}

.contact input[type="checkbox"] + .contact label span {
  padding-left: 1.25rem;
  position: relative;
}

.contact input[type="checkbox"] + .contact label span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--borderDark);
  border-radius: var(--borderRadius);
  transition: all 0.25s;
  outline: 1px dashed transparent;
  outline-offset: 2px;
}

.contact input[type="checkbox"]:checked + .contact label span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 0.375rem;
  height: 0.375rem;
  border: 1px solid var(--borderDark);
  border-radius: var(--borderRadius);
  transition: all 0.25s;
  outline: 1px dashed transparent;
  outline-offset: 2px;
  background: var(--default-color);
}

/* MARK: Footer */

.footer .social {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.footer .social ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 80px;
}

.footer .social .social-icons li {
  height: 100px;
  width: 100px;
  border: 2px solid var(--color-2);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social .social-icons a {
  color: var(--color-2);
  font-size: 4rem;
  font-weight: 600;
}

.footer .social .site-nav li a {
  color: var(--color-2);
  font-size: 2rem;
}

.footer .copyright {
  background-color: var(--color-5);
  color: var(--color-3);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright small {
  font-weight: 400;
  font-size: 2rem;
}

/* MARK: Media */

@media (width <= 400px) {
  h1 {
    font-size: 1.8rem;
    line-height: 40px;
  }
  h2 {
    font-size: 1rem;
    line-height: 18px;
  }
  .hero-content {
    gap: 1.5rem;
  }
  .hero-ctn .hero-content p {
    font-size: 0.8rem;
    line-height: 18px;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
  }
  .about img{
    margin-bottom: 10px;
  }
  .about p {
    font-size: 1rem;
    line-height: 18px;
  }
  .about p:first-of-type {
    margin-bottom: 20px;
  }
  .btn {
    padding: 5px 15px;
    font-size: 0.8rem;
    line-height: 20px;
    border: 2px solid var(--color-2);
  }


  /* accordion */

  .services h2 {
    text-align: center;
  }
  .services details {
    margin-top: 20px;
    border: 2px solid var(--color-2);
    max-height: 2.5rem;
  }
  .services label {
    font-size: 1rem;
    font-weight: 600;
    height: 2.3rem;
    padding-left: 15px;
  }
  .services label::after {
    font-size: 1rem;
  }
  .services div.content {
    padding: 5px 15px 15px 15px;
    gap: 20px;
  }
  .services div.content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
  }
  /* Main cv */
  .cv a {
    gap: 10px;
    padding: 10px 25px;
    margin: 30px;
    height: 100px;
    box-shadow: var(--box-shadow);
  }
  .cv p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    color: var(--color-2);
  }
  .cv img {
    width: 4rem;
  }
  /* Experience */
  .experience .grid a{
    min-height: 90px;
    min-width: 90px;
  }
  .experience .grid {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 8px;
  }
  .experience .grid a img {
    width: 2.5rem;
    transition: transform 0.3s ease;
    transform: translateY(0);
  }
  .experience .grid a:nth-child(-n + 4) img {
    width: 4rem;
  }

  /* Footer */

  .footer .social .site-nav li a {
    font-size: 0.8rem;
  }

  .footer .social ul {
    gap: 40px;
  }

  .footer .social .social-icons li {
    height: 50px;
    width: 50px;
  }

  .footer .social .social-icons a {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .footer .social {
    gap: 40px ;
    padding: 20px 40px;
  }

  .footer .copyright small {
    font-size: 0.8rem;
  }

  .footer .copyright{
    height: 50px;
  }
}


@media (width <= 1000px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
}